BeautifulSoup==3.2.1
Flask==2.2.5
Flask-SocketIO==2.9.6
Jinja2==2.11.3
MarkupSafe==1.0
Pygments==2.15.0
Werkzeug==2.2.3
argparse==1.2.1
asn1crypto==0.22.0
click==6.7
cryptography==41.0.4
enum34==1.1.6
feedparser==5.2.1
gunicorn==19.7.1
idna==2.5
ipaddress==1.0.18
itsdangerous==0.24
ndg-httpsclient==0.4.2
packaging==16.8
pusher==1.6
pyOpenSSL==17.0.0
pyasn1==0.2.3
pyparsing==2.2.0
python-engineio==2.0.3
python-socketio==1.9.0
requests==2.31.0
six==1.10.0
urllib3==1.26.18
wsgiref==0.1.2
