/* TODO: Vertically align for table portrait and landscape */
/* TODO: Add down arrow for portfolio section */

body {
    /* Title font */
    font-family: 'Libre Franklin', sans-serif;

    /* Main font */
    font-family: 'Raleway', sans-serif;

    font-size: 16px;
    color: limegreen;
    background-color: #1e1e20;
    width: 100%;
    height: 100%;
    margin: 0;
}

a {
    color: limegreen;
    text-decoration: none;
}
a:hover {
    color: dodgerblue;
}

.container {
    width: 50%;
    height: 100%;
    margin: 0 auto;
}

.intro {
    width: 100%;
    margin: 50% auto 1% auto;
}
.intro span {
    color: snow;
}

.contact {
    text-align: center;
    padding-top: 4px;
}
 .contact a {
    margin: 0 1%;
}

footer {
    font-size: 1.1em;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
footer p {
    text-align: center;
}

@media screen and (min-width: 320px) {
    .container {
        width: 80%;
    }
}

@media screen and (min-width: 480px) {
    .intro {
        margin: 22% auto 1% auto;
    }


}

@media screen and (min-width: 600px) {
    .intro {
        margin: 50% auto 1% auto;
    }
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 2.5em;
    }

    .intro {
        text-align: center;
    }

    .container {
        width: 80%;
    }
}

@media screen and (min-width: 800px) {
    .intro {
        margin: 22% auto 1% auto;
    }
}
