@import "variables";

@media screen and (min-height: 320px) {
  #arrow {
    display: block;
  }
}

@media screen and (min-height: 450px) {
  .intro .container {
    top: 30vh;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 80%;
  }

  .intro {
    width: 88%;
  }
}


@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.5em;
  }

  .intro {
    text-align: center;
  }

  .container {
    width: 80%;
  }
}
