<!DOCTYPE html>
<html>
    <head>
        <title>Alexako</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}"/>
        <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:700|Raleway" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <script src="https://use.fontawesome.com/99f582e290.js"></script>
    </head>
    <body>
        <div class="container">
            {% block content %}
            {% endblock %}

            <footer>
                <p>alexjreyes.com &copy;2017</p>
            </footer>
        </div>
    </body>
</html>
