<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Uh, yeah... I'm Alex Reyes and this is my playground.">
        <title>Alexako</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/icon">
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/icon">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}"/>
        <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:700|Raleway" rel="stylesheet">
        <script src="https://use.fontawesome.com/99f582e290.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js"></script>
    </head>
    <body>
        <div class="container">
            {% block content %}
            {% endblock %}

        </div>

        <div id="mail_modal" class="modal">
            <div class="modal_container">
                <h3 class="modal_title">Email:</h3>
                <div class="modal_content">
                    <input type="text" value="me@alexjreyes.com" readonly>
                    <div class="copyBtn">
                        <button class="copyEmail" data-clipboard-text="me@alexjreyes.com" type="button">
                            <i class="fa fa-clipboard fa-lg" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <p>
                <a href="{{ url_for('index') }}">alexjreyes.com</a> &copy;2017
            </p>
        </footer>

        <script src="{{ url_for('static', filename='js/email_modal.js') }}"></script>
        <script src="{{ url_for('static', filename='js/pong.js') }}"></script>
    </body>
</html>
