{% extends "base.html" %}

{% block content %}
    <div class="landing_page">
        <div class="intro">
            <h1>Hi, I'm <span>Alex</span>. I write <span>code</span> and stuff.</h1>
        </div>
        <div class="contact">
            <button><a href="http://github.com/alexako/" target="_blank"><i class="fa fa-github fa-4x" aria-hidden="true"></i></a></button>
            <button><a href="http://twitter.com/kludgebot/" target="_blank"><i class="fa fa-twitter fa-4x" aria-hidden="true"></i></a></button>
            <button id="modalBtn" class="copyEmail" data-clipboard-text="me@alexjreyes.com" alt="Copy to clipboard"><i class="fa fa-envelope fa-4x" aria-hidden="true"></i></button>
        </div>

        <a id="see_more" href="#portfolio"><i class="fa fa-arrow-circle-down fa-4x" aria-hidden="true"></i></a>

    </div>


    <div class="portfolio" id="portfolio">
        <h2>Portfolio</h2>
        {% for pen in pens %}
        <div class="project">
            <h3>{{ pen["title"] }}</h3>
            {% autoescape false %}
            <div class="description">{{ pen["description"] }}</div>
            {% endautoescape %}
        </div>
        {% endfor %}
    </div>
{% endblock %}
